/* All CSS here will be loaded for users of the Monaco skin */

.color1 {
	background-color: #36C !important;
}
.color2 {
	background-color: #F5F5F5 !important;
}
.page_bar {
	background-image: none !important;
	background-color: #36C !important;
}
#search_box {
    background-image: none !important;
	background-color: #36C !important;
}